@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: #ffc107;
  --secondary-color: #0d6efd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  counter-reset: counter;
}
.section-title {
  width: fit-content;
  margin: 0px auto;
  padding: 30px 0;
  color: var(--secondary-color);
  text-align: center;
}
.section-title + p {
  margin: 0 auto;
  color: #aaa;
  text-align: center;
}
/* Start navbar */
.navbar .navbar-nav .nav-link {
  color: var(--secondary-color);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--main-color) !important;
}
.navbar .navbar-toggler i {
  color: var(--secondary-color);
  font-size: 25px;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
/* End navbar */
/* Start Contact */
.contact {
  position: fixed;
  color: white;
  background-color: var(--secondary-color);
  text-decoration: none;
  border-radius: 30px;
  right: 2%;
  bottom: 10%;
  padding: 10px 20px;
  z-index: 100;
  cursor: pointer;
}
.contact:hover {
  color: #aaa;
}
/* End Contact */
/* Start Landing */
#landing {
  background-color: var(--main-color);
  min-height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
#landing::before {
  content: "";
  background-color: #ffffff22;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  top: -250px;
  right: -100px;
  z-index: -1;
}
#landing::after {
  content: "";
  background-color: #ffffff11;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  position: absolute;
  top: -250px;
  right: -100px;
  z-index: -1;
}
#landing .text-light a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 30px;
}
#landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Landing */
/* Start eCommerce */
#ecommerce .container {
  margin-top: 50px;
}
#ecommerce .container .col {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-bottom: 30px;
}
#ecommerce .container .col i {
  background-color: var(--main-color);
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px 0 #aaa;
  transition-duration: 0.3s;
}
#ecommerce .container .col i:hover {
  transform: scale(1.2);
  box-shadow: 5px 10px 10px 0 #aaa;
}
#ecommerce .container .col i:hover + a {
  transform: translateY(20px);
}
#ecommerce .container .col a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 15px;
  transition-duration: 0.3s;
}
/* End eCommerce */
/* Start Web */
#web.container {
  margin-top: 50px;
}
#web .container .row {
  margin-bottom: 50px;
}
#web .row .col-3 {
  margin: 30px auto;
  background-color: var(--main-color);
  width: 200px;
  height: 200px;
  color: white;
  border-radius: 20px;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px 5px 5px 0 #aaa;
  text-decoration: none;
}
#web .row .col-3:hover {
  transform: scale(1.1);
  box-shadow: 5px 15px 15px 0 #aaa;
}
#web ul li a {
  padding: 10px;
}
/* End Web */
/* Start Account Management */
#account-management {
  margin: 100px 0;
}
#account-management .container {
  padding: 100px 20px;
}
#account-management .row .col {
  text-align: center;
}
#account-management .row .btn {
  background-color: var(--secondary-color);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px 30px;
  transition-duration: 0.3s;
  transition-property: transform;
}
#account-management .row .btn:focus,
#account-management .row .btn:hover {
  transform: scale(1.1);
}
/* End Account Management */
/* Start feature */
#feature {
  padding: 50px 20px;
}
#details h2,
#feature h2 {
  margin: 40px 0;
  font-size: 40px;
  color: var(--secondary-color);
}
#details i,
#feature i {
  margin-right: 10px;
  font-size: 20px;
  color: var(--main-color);
}
#feature p {
  color: #666;
  line-height: 2;
}
#feature a {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  display: block;
  margin: 20px auto;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 #cc9003;
  transition-duration: 0.3s;
  margin-top: 40px;
}
#feature a:hover {
  transform: scale(1.1);
}
/* End feature */
/* Start Details */
#details .container {
  padding: 100px 20px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
#details img {
  width: 40%;
}
#details h2 + p {
  font-size: 25px;
  text-align: left;
}
#details .text p {
  color: #aaa;
}
#details div a {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
  box-shadow: 0 5px 5px 0 #cc9003;
  transition-duration: 0.3s;
}
#details a:hover {
  transform: scale(1.1);
}
/* End Details */
/* Start Services */
#services {
  background-color: #efefef;
  padding: 50px 0;
}
#services .container {
  padding: 50px 20px;
}

#mobile-development .container p {
  color: #666;
  width: 90%;
  text-align: center;
  margin: 50px auto;
}
#mobile-development .container .col p {
  text-align: left;
  width: 100%;
}
#services section .container .row {
  margin-top: 50px;
}
#web-development .cycle .col::before {
  content: "0" counter(counter);
  counter-increment: counter;
  padding: 20px;
  font-size: 40px;
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0;
}
/* End Services */
/* Start Hire */
#hire .container {
  padding: 100px 0;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
#hire .container h2 {
  margin: 0;
}
#hire .container p {
  font-size: 14px;
  line-height: 1.5;
  text-align: left !important;
}
#hire .container div a {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
  box-shadow: 0 5px 5px 0 #cc9003;
  transition-duration: 0.3s;
}
#hire .container a:hover {
  transform: scale(1.1);
}
/* End Hire */
/* Start Marketing */
#digital-marketing .container {
  padding: 50px 30px !important;
  margin: 50px auto;
  position: relative;
}
#digital-marketing div p {
  margin: 50px auto;
  color: #aaa;
}
#digital-marketing .container {
  padding: 100px 50px 150px;
  color: #666;
}
#digital-marketing .container .col {
  min-width: 300px;
  margin: 20px auto;
  text-align: center;
}
#digital-marketing .container .col i {
  font-size: 25px;
}
#digital-marketing .container .col h3 {
  margin: 20px;
  font-size: 18px;
}
#digital-marketing .container .col p {
  margin: 0;
}
#digital-marketing div a {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 5px 0 #cc9003;
  transition-duration: 0.3s;
  transform-origin: left center;
}
#digital-marketing a:hover {
  transform: scale(1.1) translateX(-50%);
}
/* End Marketing */
#carrers {
  padding: 100px 0;
}
#carrers h2 {
  color: var(--secondary-color);
  margin: 30px 0;
}
#carrers p {
  color: #aaa;
}
#contact {
  padding: 50px;
}
/* Start ecommerce-item */
#ecommerce-item .container {
  padding: 30px;
}
#ecommerce-item .row {
  margin: 30px 0;
  text-align: center;
}
#ecommerce-item .row .col h4 {
  margin: 20px 0;
}
#ecommerce-item .container:not(:first-child) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
#ecommerce-item .container:not(:first-child) h3 {
  margin: 30px 0;
}
#ecommerce-item .container:not(:first-child) img {
  width: 500px;
}
#ecommerce-item .container p {
  color: #666;
}
/* End ecommerce-item */
/* Start footer */
footer {
  background-color: #0f0e17;
  color: white;
  padding: 30px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container span {
  color: var(--secondary-color);
}
footer .container a {
  color: white;
  text-decoration: none;
}
footer .container i {
  margin: 0 10px;
  font-size: 20px;
}
footer .container a:nth-child(1):hover {
  color: #046ee5;
}
footer .container a:nth-child(2):hover {
  color: #00acee;
}
footer .container a:nth-child(3):hover {
  color: #bc2a8d;
}
footer .container a:nth-child(4):hover {
  color: red;
}
/* End footer */
@media (max-width: 767.98px) {
  .text-light {
    width: 100%;
    text-align: center;
  }
  .text-light h1 {
    margin-bottom: 30px;
  }
  #ecommerce-item .container:not(:first-child) {
    flex-direction: column;
  }
  #ecommerce-item .container:nth-child(3),
  #ecommerce-item .container:nth-child(5) {
    flex-direction: column-reverse;
  }
  .main-img {
    max-width: 300px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container div:first-child {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .container div:last-child {
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  #details .container {
    flex-direction: column;
  }
  #details .container img {
    width: 80%;
  }
  #details .container {
    text-align: center;
  }
  #details .text p {
    text-align: left;
  }
  #hire .container {
    flex-direction: column;
    text-align: center;
  }
  #hire .container h2 {
    margin: 20px auto;
  }
  #hire .container p {
    text-align: center !important;
  }
  #hire .main-img {
    width: 100%;
  }
  #ecommerce-item .container:not(:first-child) img {
    width: 300px;
  }
}
